body{
    background: radial-gradient(ellipse farthest-corner at center top, #e3a377 40% ,#894c3e  80%);
    height: auto;
    font-family: sans-serif;
}
.container{
    max-width: 80rem;
    padding: 0;
    margin: 0 auto;
    margin-top: 6rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 32rem auto;
    grid-template-areas: 
    "header header"
    "section aside";
    grid-gap: 2.5rem 2.5rem;
}
.header{
    grid-area: header;
    font-size: 3rem;
    color: white;
    background-image: url(img/table1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    border: 0.8rem solid white;
    box-shadow: 10px 10px 10px 10px #894c3e;
    border-radius: 0.5rem;

    
}
.header h3{
    margin-left: 2.5rem;
    text-shadow: black 0.1em 0.5em 0.4em;
}
.section{
    grid-area: section;
    border: 0.8rem solid white;
    color: white;
    font-size: 2rem;
    font-weight: bold;
    box-shadow: 10px 10px 10px 10px #894c3e;
    border-radius: 0.5rem;
    padding-bottom: 2rem;


}
.aside{
    grid-area: aside;
    border: 0.8rem solid white;
    color: white;
    font-size: 2rem;
    font-weight: bold;
    box-shadow: 10px 10px 10px 10px #894c3e;
    border-radius: 0.5rem;
    padding-bottom: 2rem;

    
}
.all-tasks{
    text-shadow: black 0.1em 0.5em 0.4em;
    margin-left: 1rem;
}
.all-tasks ul{
    cursor: pointer;
    text-decoration: underline;
 }

.all-tasks button , .new-task-creator button{
    border-radius: 2rem;
    width: 4rem;
    height: 2.7rem;
    background-color: #009432;
    cursor: pointer;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1rem;
    margin-top: 2rem;
}
.all-tasks button:hover, .delTaskBtn:hover , .delAllBtn:hover{
    opacity: 0.5;
}

.all-tasks input , .new-task-creator input{
    font-size: 1rem;
    padding: 0.8rem;
    width: 20rem;
    height: 1.4rem;
    margin-right: 1rem;
    border-radius: 0.5rem;
    border: 1px solid #d8d8d8;
}

.todo-header{
   font-size: 2rem;
   text-align: center;
}
.delTaskBtn{
    padding: 0.5rem;
    font-size: 1rem;
    font-weight: bold;
    background-color: #ff793f;
    cursor: pointer;
    color: white;
    text-transform: uppercase;
    border-radius: 1rem;
 }
 .delAllBtn{
    padding: 0.5rem;
    font-size: 1rem;
    font-weight: bold;
    background-color: #c0392b;
    cursor: pointer;
    color: white;
    text-transform: uppercase;
    border-radius: 1rem;
}
.new-task-creator{
    text-align: center;
}
.delete-stuff{
    text-align: center;
}
.todo-list {
    margin-left: 2rem;
    font-size: 2rem;
}
.aside h3{
    margin-left: 2rem;
    text-shadow: black 0.1em 0.5em 0.4em;

}
@media(max-width: 600px) {
      
      .container{
        grid-template-columns: 1fr ;
        grid-template-rows: 20rem auto;
        grid-template-areas: 
        "header header"
        "section section"
        "aside aside";
        margin: 0;
      }
      .all-tasks input , .new-task-creator input{
        font-size: 1rem;
        padding: 0.5rem;
        width: 18rem;
        height: 1.4rem;
        border-radius: 0.5rem;
        border: 1px solid #d8d8d8;
    }
    
}
