body {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background: radial-gradient(ellipse farthest-corner at center top, #e3a377 40% ,#894c3e  80%);
    font-family: sans-serif;
}
.container {
    display: flex;
    width: 60rem;
    flex-direction: column;
    color: white;
    font-size: 1.8rem;
    font-weight: bold;
    border: 0.4rem solid white;
    box-shadow: 0.2rem 0.2rem 0.5rem  #dfe6e9;
    border-radius: 0.5rem;
}

.container h3{
    text-shadow: black 0.1em 0.5em 0.4em;
    margin-left: 0.8rem;
    color: white;
}
.header{
    display: flex;
    font-size: 2.8rem;
    height: 18rem;
    background-image: url(img/table1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    border-bottom: 0.4rem solid white;
    border-radius: 0.2rem;
}
.all-tasks{
    text-align: center;
    text-shadow: black 0.1em 0.5em 0.4em;

}
.all-tasks button , .new-task-creator button{
    border-radius: 2rem;
    width: 3.5rem;
    height: 2.5rem;
    background-color: #009432;
    cursor: pointer;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1rem;
}

.all-tasks ul{
   cursor: pointer;
   text-decoration: underline;
   list-style-type: none;
}
.all-tasks input , .new-task-creator input{
    font-size: 1rem;
    padding: 0.8rem;
    width: 20rem;
    margin-right: 1rem;
    border-radius: 0.5rem;
    border: 1px solid #d8d8d8;
}
.todo-header{
   font-size: 2rem;
   text-align: center;
}

.todo-list{
    font-size: 1.8rem;
}
h2.list-title{
    color: white;
}
.delTaskBtn{
   padding: 0.5rem;
   font-size: 1rem;
   font-weight: bold;
   background-color: #ff793f;
   cursor: pointer;
   color: white;
   text-transform: uppercase;
   border-radius: 1rem;
}
.delAllBtn{
    padding: 0.5rem;
    font-size: 1rem;
    font-weight: bold;
    background-color: #c0392b;
    cursor: pointer;
    color: white;
    text-transform: uppercase;
    border-radius: 1rem;
}
.new-task-creator{
    text-align: center;
}
.delete-stuff{
    text-align: center;
}
div.task{
     margin-left: 5rem;
     margin-bottom: 1rem;
}


@media(max-width: 600px) {
    body{
     height: auto;
     margin-top: 6rem;
    }
    .container{
     border: 0.25rem solid white;
     box-shadow: 0.2rem 0.8rem 1rem  #dfe6e9;
     width: 40rem;
    }
    .header{
        border-bottom: 0.25rem solid white;
    }
}